/* fonts & icons */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css');

/* preset and variable styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
    padding: 10px 16px;
    font-size: var(--text-size-02);
    font-weight: var(--font-wheight-regular);
}

li:hover {
    background-color: var(--backgroundcolor-mid);
}

a {
    text-decoration: none;
    color: var(--prymary-color-text-dark);
}

a:hover {
    color: var(--color-09);
}

.button {
    padding: 16px 16px;
    color: var(--secondary-color-text-light);
    background-color: var(--backgroundcolor-button);
    border-radius: var(--botton-border-radius);
    border: none;
    width: 130px;
    min-width: 120px;
    height: 56px;
    text-align: center;
}

.button:hover{
    background-color: var(--backgroundcolor-button-over);
}

input {
    border: none;
    outline: none;
}

p {
    font-size: var(--text-size-02);
}

h2 {
    font-size: var(--text-size-04);
    font-weight: var(--font-wheight-bold);
    padding-top: 10px;
    padding-right: 5px;
}

h3 {
    font-size: var(--text-size-03);
    font-weight: var(--font-wheight-light);
}

h4 {
    font-size: var(--text-size-02);
    font-weight: var(--font-wheight-light);
    height: 60px;
}

:root {
    /* colors */
    --color-01: #ffffff;
    --color-02: #F2F2F2;
    --color-03: #c9c8c8;
    --color-04: #333333;
    --color-05: #170453;
    --color-06: #118000;
    --color-07: #CC4D00;
    --color-08: #BF0019;
    --color-09: #FF6000;
    --color-10: #e09c1f;
    --color-11: #8c44f1;

    /* background colors */
    --backgroundcolor-light: var(--color-01);
    --backgroundcolor-mid: var(--color-02);
    --backgroundcolor-dark: var(--color-05);
    --backgroundcolor-button: var(--color-09);
    --backgroundcolor-button-over:var(--color-07);
    --backgroundcolor-offer-tag: var(--color-08);
    --backgroundcolor-type-tag: var(--color-05);
    --backgroundcolor-type-pack: var(--color-11);

    /* text color */
    --prymary-color-text-dark: var(--color-05);
    --secondary-color-text-light:var(--color-01);
    --free-shipping-tag:var(--color-06);
    --promo-tag:var(--color-08);
    --price-offer:var(--color-08);
    --shippingday-message:var(--color-07);
    --alert-message:var(--color-09);
    --rating-stars:var(--color-10);
    --rating-stars-empty:var(--color-03);
    --pack-tag: var(--color-11);

    /* font size*/
    --text-size-01: 12px;
    --text-size-02: 14px;
    --text-size-03: 17px;
    --text-size-04: 24px;
    --text-size-05: 40px;

    /* font weight */
    --font-wheight-light: 300;
    --font-wheight-regular: 500;
    --font-wheight-bold: 700;

    /* border radius */
    --card-border-radius: 10px;
    --botton-border-radius: 5px;
    --tag-border-radius: 5px;
    --img-border-radius: 10px;
}

/* Header styles */

.fi-rr-menu-burger {
    display: none;
}
.header{
    display: grid;
    align-items: center;
    grid-template-columns: 140px 1fr 440px;
    gap: 64px;
    padding: 16px 32px;
    border-bottom: solid 1px var(--color-03);
}

.headerbuttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.headerbuttons div a {
    display: flex;
    justify-content: center;
    gap:10px;
}

.headerSearchbar {
    display:flex;
    justify-content: space-between;
    border: solid 1px var(--color-03);
    border-radius: var(--botton-border-radius);
    padding: 8px 12px;
    align-content: center;
}

.headerSearchbar:hover {
    border: solid 1px var(--color-04);
}

.headerSearchbar > input {
    font-size: var(--text-size-03);
    font-weight: var(--font-wheight-light);
}

.fi {
    font-size: 20px;

}

/* Main/hero style */

.promobanner img{
    border-radius: var(--card-border-radius);
    width: 100%;
    margin-bottom: 20px;
} 

.bannermobile{
    border-radius: var(--card-border-radius);
    width: 100%;
    margin-bottom: 1rem;
    display: none;
}

#hero{
    padding: 32px;
    background-color: var(--backgroundcolor-dark);
}

.categories01 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    min-height: 6rem;
    justify-items: center;
    padding-bottom: 20px;
}

.grid img{
    border-radius: var(--card-border-radius);
    width: 100%;
    max-width: 350px;
    min-width: 180px;
} 

/* Main/iconrow style */

#iconrow {
    display: flex;
    justify-content: start;
    padding: 32px;
    margin: 32px 0px;
    gap: 6rem;
    overflow-x: scroll;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 100px;
}

.icons img {
    width: 80px;
}

.icons p {
    text-align: center;
    font-size: var(--text-size-02);
    color: var(--prymary-color-text-dark);
    font-weight: var(--font-wheight-light);
}

/* Main/TOP selection style */
#topselection{
    margin: 16px 0px;
    padding: 64px 32px;
    display: flex;
    gap: 3rem;
    background-color: var(--backgroundcolor-mid);
}

.topselectiontext{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 350px;
}

.topselectioncards{
    display: flex;
    gap: 24px;
    padding: 0px 0px 24px 0px;
    overflow-x: scroll;
}

/* Product Card style */
.productcard {
    background-color: var(--backgroundcolor-light);
    border-radius: var(--card-border-radius);
    padding: 16px;
    max-width: 260px;
    min-width: 250px;
    height: 360px;
}

.productcard > a{
    display: flex;
    flex-direction: column;
}

.cardtag {
    border-radius: var(--tag-border-radius);
    font-size: var(--text-size-01);
    padding: 5px 10px;
}

.offer { 
    background-color: var(--backgroundcolor-offer-tag);
    color: var(--secondary-color-text-light);
    width: 50px;
    z-index: 1;
}

.cardimg {
    width: 180px;
    margin-top: -16px;
    align-self: center;
}

.cardtags{
    margin-top: -20px;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.christmas {
    background-color: var(--backgroundcolor-type-tag);
    color: var(--secondary-color-text-light);
}

.delivery {
    color: var(--free-shipping-tag);
    border: solid 1px var(--free-shipping-tag);
    background-color: var(--backgroundcolor-light);
}

.pack {
    color: var(--pack-tag);
    border: solid 1px var(--backgroundcolor-type-pack);
    background-color: var(--backgroundcolor-light);
}

.pricecard {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.priceoffer {
    font-size: var(--text-size-03);
    color: var(--price-offer);
    font-weight: var(--font-wheight-bold);
}

.pricebefore {
    font-size: var(--text-size-01);
    text-decoration: line-through;
    color: var(--prymary-color-text-dark);
    font-weight: var(--font-wheight-light)
}

.cardadvisetex {
    font-size: var(--text-size-01);
    color: var(--alert-message);
    padding: 4px 0;
}

.ratingstarscard {
    display: flex;
    gap: 10px;
}

.fi-sr-star{
    font-size: var(--text-size-02);
    margin: 0 -3px;
}
.fivestars > i {
    color: var(--rating-stars);
}

.fourstars > i {
    color: var(--rating-stars);
}

.fourstars :nth-child(5) {
    color:var(--rating-stars-empty);
}
.ratingstarscard > p{
    font-size: var(--text-size-01);
    font-weight: var(--font-wheight-light);
}

/* Contest ROW */

#contest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 64px 32px 64px 32px;
    gap: 32px;
    background-color: var(--backgroundcolor-dark);
}

.claimcontest > h2{
    color: var(--secondary-color-text-light);
    font-size: var(--text-size-05);
    font-weight: var(--font-wheight-regular);
}

.claimcontest > p{
    color: var(--secondary-color-text-light);
    font-size: var(--text-size-03);
    font-weight: var(--font-wheight-light);
}

.imgcontest > img {
    width: 100%;
}

.registerform {
    background-color: var(--backgroundcolor-light);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 32px;
    justify-content: center;
}

#registerform div {
    display: flex;
    padding: 2px 12px;
    gap: 10px;
}

#registerform div > p {
    font-size: var(--text-size-01);
}

#registerform > input {
    border: solid 1px var(--color-03);
    border-radius: var(--botton-border-radius);
    padding: 16px 12px;
    margin-bottom: 12px;
    align-content: center;
    width: 100%;
    font-size: var(--text-size-03);
    font-weight: var(--font-wheight-light);
}

#registerform > div > p > a {
    color: var(--color-07);
}

.formcta {
    margin-top: 16px;
    width: 100%;
}

/* Footer styles */
.footernav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 64px 32px;
    gap: 32px;
}

.footernav > nav > h3 {
    font-weight: var(--font-wheight-bold);
}

li > a {
    font-weight: var(--font-wheight-light);
    color: var(--prymary-color-text-dark);
}    

.Copyright {
    display: flex;
    justify-content: space-between;
    padding: 10px 32px 16px;
    background-color: var(--backgroundcolor-mid);
}

.Copyright * {
    font-size:var(--text-size-01);
    font-weight: var(--font-wheight-light);
}

.fi-brands-linkedin{
    color: var(--backgroundcolor-button);
}


/* header & footer media query */
@media (max-width:1000px) {
    
    .fi-rr-menu-burger {
        display: block;
    }
    .header{
        gap: 10px;
        grid-template-columns: 40px 140px 1fr;
        grid-template-rows: 50px 50px;
    }
    .headerSearchbar {
        grid-column: 1/-1;
        grid-row: 2;
    }

    .headerbuttons{
        display: flex;
        justify-content: end;
    }

    .headerbuttons >:nth-child(1){
        display: none;
    }

    .footernav {
        grid-template-columns: repeat(3, 1fr);
        padding: 32px;
    }
}

@media (max-width:1220px) {
    .categories01 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        min-height: 6rem;
    }
    #topselection{
        display: flex;
        flex-direction: column;
    }
    .topselectiontext{
        flex-direction: row;
        gap: 3rem;
        width: 100%;
        justify-content: space-between;
    }
    #contest {
        grid-template-columns: 1fr 1fr;
        row-gap: 64px;
    }
    .claimcontest {
        grid-column: 1/-1;
        align-content: center;
        text-align: center;
    }

}

@media (max-width:768px) {
    /* header media query */
    .headerbuttons h3 {
        display: none;
    }

    .headerbuttons {
        gap: 30px;
    }

    header > div > img {
        width: 64px;
    }

    .bannerdesktop {
        display: none;
    } 
    
    .bannermobile {
        display: block;
        margin-bottom: 0.5rem;

    }
    .categories01 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        min-height: 6rem;
    }

    .grid img{
        min-width: 160px;
    } 

    #hero{
        padding: 32px 10px;
    }  
    
    .topselectiontext{
        flex-direction: column;
    }
    #topselection{
        padding: 64px 0px 64px 10px;
    }
    #iconrow {
        gap: 3rem;
    }

    #contest {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .registerform {
        padding: 16px;
    }

    .footernav {
        grid-template-columns: repeat(2, 1fr);
        padding:32px;
    }

    .Copyright {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }
}
