/* fonts & icons */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

/* preset and variable styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
    padding: 10px 16px;
    font-size: var(--text-size-02);
    font-weight: var(--font-wheight-regular);
}

li:hover {
    background-color: var(--backgroundcolor-mid);
}

a {
    text-decoration: none;
    color: var(--prymary-color-text-dark);
}

button {
    padding: 11px 16px;
    color: var(--secondary-color-text-light);
    background-color: var(--backgroundcolor-button);
    border-radius: var(--botton-border-radius);
    border: none;
}

button:hover{
    background-color: var(--backgroundcolor-button-over);
}

input {
    border: none;
    outline: none;
}

h3 {
    font-size: var(--text-size-03);
    font-weight: var(--font-wheight-light);
}

:root {
    /* colors */
    --color-01: #ffffff;
    --color-02: #F2F2F2;
    --color-03: #c9c8c8;
    --color-04: #333333;
    --color-05: #170453;
    --color-06: #118000;
    --color-07: #CC4D00;
    --color-08: #BF0019;
    --color-09: #FF6000;

    /* background colors */
    --backgroundcolor-light: var(--color-01);
    --backgroundcolor-mid: var(--color-02);
    --backgroundcolor-dark: var(--color-05);
    --backgroundcolor-button: var(--color-09);
    --backgroundcolor-button-over:var(--color-07);

    /* text color */
    --prymary-color-text-dark: var(--color-05);
    --secondary-color-text-light:var(--color-01);
    --free-shipping-tag:var(--color-08);
    --promo-tag:var(--color-07);
    --shippingday-message:var(--color-07);
    --alert-message:var(--color-09);

    /* font size*/
    --text-size-01: 12px;
    --text-size-02: 14px;
    --text-size-03: 17px;
    --text-size-04: 24px;

    /* font weight */
    --font-wheight-light: 300;
    --font-wheight-regular: 500;
    --font-wheight-bold: 700;

    /* border radius */
    --card-border-radius: 5px;
    --botton-border-radius: 5px;
    --tag-border-radius: 2px;
    --img-border-radius: 10px;
}

/* Header styles */

.fi-rr-menu-burger {
    display: none;
}
.header{
    display: grid;
    align-items: center;
    grid-template-columns: 140px 1fr 440px;
    gap: 64px;
    padding: 16px 32px;
    border-bottom: solid 1px var(--color-03);
}

.headerbuttons {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.headerbuttons div {
    display: flex;
    justify-content: center;
    gap:10px;
}

.headerSearchbar {
    display:flex;
    justify-content: space-between;
    border: solid 1px var(--color-03);
    border-radius: var(--botton-border-radius);
    padding: 8px 12px;
    align-content: center;
}

.headerSearchbar:hover {
    border: solid 1px var(--color-04);
}

.headerSearchbar > input {
    font-size: var(--text-size-03);
    font-weight: var(--font-wheight-light);
}

.fi {
    font-size: 20px;

}

/* Estilos del main/hero */

#hero{
    padding: 32px;
    background-color: var(--backgroundcolor-dark);
}

.categories01{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    min-height: 6rem;
    justify-items: center;
}

.grid img{
    border-radius: var(--card-border-radius);
    width: 100%;
    max-width: 350px;
    min-width: 180px;
} 
/* header media query */
@media (max-width:1000px) {
    
    .fi-rr-menu-burger {
        display: block;
    }
    .header{
        gap: 10px;
        grid-template-columns: 40px 140px 1fr;
        grid-template-rows: 50px 50px;
    }
    .headerSearchbar {
        grid-column: 1/-1;
        grid-row: 2;
    }

    .headerbuttons{
        display: flex;
        justify-content: end;
    }

    .headerbuttons >:nth-child(1){
        display: none;
    }

}

/* hero media query */
@media (max-width:1220px) {
    .categories01 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        min-height: 6rem;
    }
}

@media (max-width:768px) {
    /* header media query */
    .headerbuttons h3 {
        display: none;
    }

    .headerbuttons {
        gap: 30px;
    }

    header > div > img {
        width: 64px;
    }

    .categories01 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        min-height: 6rem;
    }

    .grid img{
        min-width: 160px;
    } 

    #hero{
        padding: 32px 10px;
    }     
}
